@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	line-height: 28px;
}
.rs__notes-wrapper {
	display: flex;
	flex-flow: column;
	width: 680px;
	height: 600px;
	margin: 100px auto;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 4px;
	overflow: hidden;
	position: relative;
}
.rs__content-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
}
.rs__top-toolbar {
	padding: 10px 20px;
	background-color: #6528F7;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rs__action-icons {
	display: flex;
	align-items: center;
	width: 36%;
}
.rs__action-icon {
	margin-right: 5px;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}
.rs__action-icon:hover {
	transform: scale(1.1);
}
.rs__notes-sidebar {
	width: 30%;
	border-right: 1px solid #dedede;
	padding: 15px 15px 100px 15px;
	background-color:#E9B384;
	overflow-y: scroll;
}
.rs__note-list {
	padding: 0;
	margin: 0 0 20px 0;
	list-style: none;
}
.rs__note-list li {
	position: relative;
	width: 100%;
	border-bottom: 1px solid rgba( 0,0,0,0.05 );
	padding: 3px 0;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rs__note-list li::before {
	content: "";
	position: absolute;
	width: 6px;
	height: 100%;
	background-color: #6528F7;
	top: 0;
	left: -15px;
	z-index: 1;
	transform: translateX(-20px);
	transition: all 0.3s ease-in-out;
}

.rs__note-list li:hover::before  {
	transform: translateX(0);
}
.rs__note-list li p {
	font-size: 0.75rem;
	line-height: 20px;
	width: 80%;
}
.rs__note-list-icon {
	font-size: 1rem;
	cursor: pointer;
	display: none;
}
.rs__note-list li:hover .rs__note-list-icon {
	display: block;
}
.rs__notes-content {
	padding: 15px 20px;
	width: 70%;
	background-color: #F4F2DE;
	overflow-y: scroll;
	font-size: .825rem;
	line-height: 1.25rem;
}
.rs__notes-content form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
}
.rs__input-title {
	width: 100%;
	height: 35px;
	border: 0;
	outline: 0;
	padding: 5px 10px;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 10px;
}
.rs__sidebar-title {
	border-bottom: 1px solid rgba(0,0,0,0.05);
	display: flex;
	align-items: center;
}
.rs__sidebar-title-pinned-icon,
.rs__sidebar-title-note-icon {
	margin-right: 5px;
}
.rs__sidebar-title-pinned-icon {
	transform: rotate(-45deg);
}
.rs__justify-end {
	justify-content: flex-end;
}
.rs__toolbar-title {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.rs__content-editable {
	width: 100%;
	height: 100%;
	outline: 0;
}
.rs__form-save-btn {
	padding: 10px;
	font-family: inherit;
	font-size: 0.825rem;
	font-weight: 500;
	border-radius: 4px;
	border: 0;
	outline: 0;
	background-color: #00DFA2;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease-in;
	position: absolute;
	right: 15px;
	bottom: 15px;
	z-index: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.rs__form-save-btn:hover {
	background-color: #17594A;
}
.rs__view-note-details {
	font-size: 0.825rem;
	line-height: 1.25rem;
}
.rs__view-note-title {
	margin-bottom: 15px;
	text-transform: capitalize;
	font-size: 1rem;
	line-height: 1.5rem;
}
.rs__top-toolbar-search {
	outline: 0;
	border: 0;
	width: 300px;
	height: 30px;
	border-radius: 4px;
	margin-right: 4px;
	padding: 0 10px;
	font-family: inherit;
	transform: translateY(-100px);
	transition: all 0.3s ease-in;
}
.rs__top-toolbar-search-show {
	transform: translateY(0);
}
li.rs__note-list-nothing-found {
    text-align: center;
    width: 100%;
    display: flex;
	padding-top: 30px;
	border-bottom: 0;
}
li.rs__note-list-nothing-found span {
	font-size: 3rem;
	line-height: 3rem;
	opacity: 0.3;
}
li.rs__note-list-nothing-found:hover::before {
	display: none;
}
.rs__notes-content-grid {
	padding: 15px 20px;
	width: 100%;
	background-color: #F4F2DE;
	overflow-y: scroll;
	font-size: .825rem;
	line-height: 1.25rem;
}
.rs__notes-content-grid {
    display: flex;
    width: 100%;
    flex-flow: column;
}
.rs__notes-content-all-notes {
	display: flex;
	width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
	flex-flow: column;
}
.rs__notes-contet-grid-card-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 10px;
}
.rs__note-card {
    width: calc(25% - 8px);
    padding: 7px 8px;
    background-color: #E9B384;
    margin-bottom: 10px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
	position: relative;
	z-index: 0;
}
.rs__note-card:hover {
	cursor: pointer;
	background-color: #F4E0B9;
}
h4.rs__note-card-title {
    font-size: .75rem;
    margin-bottom: 10px;
}
.rs__notes-content-grid .rs__notes-content {
	width: 100%;
	height: 100%;
}
.rs__note-grid-icon {
	position: absolute;
	top: 10px;
	right: 5px;
	font-size: 1rem;
	z-index: 10;
	display: none;
}
.rs__note-card:hover .rs__note-grid-icon {
	display: block;
}
.rs__note-grid-nothing-found {
	text-align: center;
    width: 200px;
    display: flex;
    padding-top: 30px;
    border-bottom: 0;
    font-size: 4rem;
    margin: 0 auto;
    line-height: 4rem;
    opacity: 0.5;
    font-weight: 700;
}
h4.rs__notes-content-grid-title {
    display: flex;
	width: 100%;
    justify-content: flex-start;
    align-items: center;
	border-bottom: 1px solid rgba( 0,0,0,0.05 );
	margin-bottom: 10px;
}
.rs__notes-content-grid-title-icon {
	margin-right: 5px;
}